@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #24252a; */
}



li, a, button{
    /* font-family: Monterrat; */
    font-weight: 500;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}

header{

    width: 100%;
    /* height: 60px; */
    /* position: ; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 2%;
    background-color: rgba(23, 6, 6, 0.998);
}

.logo{
    font-size: 25px;
    color: white;
    cursor: pointer;
    margin-right: auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    margin-left: 8px;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}



@media(max-width: 998){
    html{
        font-size: 55%;
    }
}
